# Ansible managed: logrotate for Fortinet syslog
{{ forti_log_path }}{% if forti_tuning_split_traffic | default(false) %} {{ forti_traffic_log_path }}{% endif %} {
    {{ forti_logrotate_frequency }}
    rotate {{ forti_logrotate_rotate }}
    missingok
    notifempty
    dateext
    dateformat -%Y%m%d
{% if forti_logrotate_compress %}
    compress
{% endif %}
{% if forti_logrotate_delaycompress %}
    delaycompress
{% endif %}
{% if forti_logrotate_copytruncate %}
    copytruncate
{% else %}
    create {{ forti_log_file_mode }} {{ forti_log_owner }} {{ forti_log_group }}
{% endif %}
    su {{ forti_log_owner }} {{ forti_log_group }}
    sharedscripts
    postrotate
{% if forti_logrotate_copytruncate %}
        /bin/systemctl reload {{ rsyslog_service_name }} >/dev/null 2>&1 || true
{% else %}
        /bin/systemctl restart {{ rsyslog_service_name }} >/dev/null 2>&1 || true
{% endif %}
    endscript
}
