# Ansible managed: logrotate for Wazuh archives
{{ forti_wazuh_archives_log_path }} {
    {{ forti_wazuh_archives_logrotate_frequency }}
    rotate {{ forti_wazuh_archives_logrotate_rotate }}
    missingok
    notifempty
    dateext
    dateformat -%Y%m%d
{% if forti_wazuh_archives_logrotate_allowhardlink | default(false) %}
    allowhardlink
{% endif %}
{% if forti_wazuh_archives_logrotate_compress %}
    compress
{% endif %}
{% if forti_wazuh_archives_logrotate_delaycompress %}
    delaycompress
{% endif %}
{% if forti_wazuh_archives_logrotate_copytruncate %}
    copytruncate
{% else %}
    create {{ forti_wazuh_archives_log_mode }} {{ forti_wazuh_archives_log_owner }} {{ forti_wazuh_archives_log_group }}
{% endif %}
    su {{ forti_wazuh_archives_log_owner }} {{ forti_wazuh_archives_log_group }}
}
